<mat-card class="user-daetail-header">
        <img src="./assets/img/profile.png" alt="">
        <div class="user-details">
            <h2>{{ userData.firstName }} {{ userData.lastName }}</h2>
            {{ userData.email }}
        </div>
</mat-card>
<mat-card class="mt-32">
    <mat-card-title class="pl-16 pt-16">
        Address
    </mat-card-title>
    <mat-card-content>
        {{ userData.street }}<br>
        {{ userData.zipCode }} {{ userData.city }}
    </mat-card-content>

</mat-card>